<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into partTime (title, pay, numEmployee, workPeriod, gender, dayOfWeek, location, jobType)
        values
        (#{title}, #{pay}, #{numEmployee}, #{workPeriod}, #{gender}, #{dayOfWeek}, #{location}, #{jobType})
    </insert>
    <update id="updateBoard">
        update partTime
        set title=#{title}, pay=#{pay}, numEmployee=#{numEmployee}, workPeriod=#{workPeriod}, gender=#{gender}, dayOfWeek=#{dayOfWeek}, location=#{location}, jobType=#{jobType}
        where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from partTime where seq=#{seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from partTime where seq=#{seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from partTime order by seq desc
    </select>
</mapper>